:root {
  /* colors */
  --white: #FFFFFF;
  --purple-100: #7562E0;
  --purple-200: #5441bd;
  --purple-900: #000036;
  --grey-200: #8899A6;

  --32: 2rem;
  --28: 1.75rem;
  --22: 1.375rem;
  --18: 1.125rem;
  --16: 1rem;
  --14: 0.875rem;
  --12: 0.75rem;

}

html, body, #__next {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple-900);
  color: var(--white);
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
}