:root {
  /* colors */
  --white: #FFFFFF;
  --purple-100: #7562E0;
  --purple-900: #000036;
  --grey-200: #8899A6;
}

html {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: var(--purple-900);
  color: var(--white);
}